body{
    padding-top: 1em;
    background: url(../images/map.png);
    position: relative;
}
.index{
	width: 20px;
    height: 5px;
}
.moodbackground{
    margin: 0 auto;
    display: block;
}
.mood{
	position: relative;
}
.moodcontent{
	position: absolute;
    width: 100%;
    top: 27%;
    text-align: center;
}
.moodcontentlast{
	position: absolute;
    width: 100%;
    top: 57%;
    text-align: center;
}
.moodcontent .center{
	margin: 0 1em 0 1em;
}
.goodinner{
    position: absolute;
}
.auito{
    left: 38%;
    top: 23%;
}
.video{
    left: 47%;
    top: 23%;
}
.note{
    left: 57%;
    top: 23%;
}
.point{
	left: 48%;
    top: 57%;
}
.bdiv{
    height: 26px;	
}
.bfont{
    height: 26px;
    line-height: 26px;
    vertical-align: super;
}
.setdiv{
	width: 100%;
	height: 500px;
    position: absolute;
    top: 0;
    background-color: rgb(176, 224, 230);
    opacity: 0.5;
}